body {
    background-color: var(--darkbg);
}
section {
    max-width: 55rem;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightbg);
    outline: 0.4rem solid var(--darkborder);
    outline-offset: -1.5rem;
    padding: 4.75rem 5.25rem;
}

.quest-choices {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 2.85rem;
    overflow:hidden;
    border: 0.3rem solid rgb(126, 33, 110);
    border-radius: 3rem;
    background-color: #fae2ef;
}

.quest-choices:hover {
    cursor:pointer;
    filter:brightness(110%);
    box-shadow: -0.2rem 0.225rem 0.7rem 0 #b15da3;
    transform: translateY(-0.2rem);
    transition: transform 150ms;
  }

.choice-letter {
    padding: 1rem 1.8rem;
    background-color: rgb(126, 33, 110);
    font-size: 3rem;
    color:#ebe5e8;
    display: flex;
    align-items: center;
}

.choice-text {
    text-justify: inter-word;
    padding: 1.25rem;
    font-size: 2rem;
    width: 100%;
}

.correct {
    background-color:#28a745
}

.incorrect {
    background-color:#dc3545
}

header {
    width: 50%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

.header-item {
    background-color: #ffecf6;
    padding: 2.5rem 1.8rem;
    width:148px;
    text-align: center;
    border:0.1rem solid rgba(170, 50, 220, .8);
    border-radius: 7.5rem;
    margin-bottom: 10rem;
    text-decoration: none;
  
}

.counters {
    font-size: 4rem;
    font-weight: 500;
    color: #7b238d;
    margin-bottom: 0.2rem;
}
