:root {
    --darktext: rgb(119, 12, 101);
    --darkbg: rgb(119, 12, 101);
    --lighttext:rgb(235, 229, 232);
    --lightbg:rgb(255, 236, 246);
    --buttonborder: rgba(170, 50, 220, .8);
    --lightborder: rgb(235, 229, 232);
    --darkborder: rgb(119, 12, 101);
    
    background-color: var(--lightbg);
    font-size: 62.5%;
  }

  * {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(41, 40, 40);
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 6.25rem;
    font-weight: 100;
    color: var(--lighttext);
    text-justify: inter-word;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  h1 > span {
    font-size: 3rem;
    font-weight: 0;
  }
  
  h2 {
    font-size: 5rem;
    color: var(--lighttext);
    font-weight: 150;
    text-align:center;
    line-height: 6rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  
  h3 {
    font-size: 2.75rem;    
    font-weight: 150;
    text-align:center;
    line-height: 3.5rem;
    margin-bottom: 4rem;
  }

  h4 {
    font-size: 1.75rem;
    font-weight: 500;
    text-align:center;
    line-height: 2rem;
    margin-bottom: 0.75rem;
  }

  form {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 25rem;
    padding: 1.25rem;
    margin-bottom: 2.5rem;
    border: 0.3rem solid var(--buttonborder);
    border-radius: 3.75rem;
    text-align: center;
    font-size: 2.5rem;
    
  }
  
/* utility classes */

.intro {
  width:100%;
  height:740px;
  background-color: var(--darkbg);
  text-align: justify;
  text-justify: inter-character;
  outline: 0.3rem solid var(--lightborder);
  outline-offset: -1.5rem;
  padding: 5rem 5rem 7rem 5rem;
  margin-bottom: 4.5rem;
}

  .intro-p {
    
    color: var(--lighttext);
    font-size: 2.5rem;
    text-align: justify;
    text-justify: inter-character;
    line-height: 3.8rem;
    padding: 4rem;
    margin-bottom: 3.5rem;
  }
  
  .main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90rem;
    margin: 0 auto;
    padding: 2rem;
  }

  /* .main > * {
    width: 100%;
  } */
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }

  /* we are skipping some classes here! Check them later, if necessary add them*/

 /* Buttons */
 .btn {
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--darktext);
  background-color:var(--lightbg);
  padding: 1rem 0;
  width: 25rem;
  text-align: center;
  border: 0.3rem solid var(--buttonborder);
  border-radius: 3.75rem;
  margin-bottom: 2rem;
  text-decoration: none;
 }

 .btn:hover {
  filter:brightness(110%);
  box-shadow: -0.2rem 0.225rem 0.7rem 0 #b15da3;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}
 
/* check to learn more here... */
.btn[disabled]:hover {
  cursor: not-allowed;
  filter: none;
  box-shadow: none;
  transform: none;
}
